1) Construct a list (shoppingList) including 'potatoes', 'carrots', 'cod' and 'sproutsâ€™

In [ ]:
shoppingList= ['potatoes','carrots','cod','sprouts']
shoppingList

['potatoes', 'carrots', 'cod', 'sprouts']

2) Get the second and the last element of the list

In [ ]:
print(shoppingList[1],shoppingList[-1])

carrots sprouts

3) Iterate though the list

In [ ]:
for i in range(len(shoppingList)):
      print("we should eat "+ shoppingList[i])

we should eat potatoes
we should eat carrots
we should eat cod
we should eat sprouts

In [ ]:
for product in shoppingList:
  print('we should eat '+ product)

we should eat potatoes
we should eat carrots
we should eat cod
we should eat sprouts

 4) Add the follwoing elements to the shoppingList: orange and lime

In [ ]:
shoppingList.append("orange")
print(shoppingList)

 

shoppingList.append("lime")
print(shoppingList)

['potatoes', 'carrots', 'cod', 'sprouts', 'orange']
['potatoes', 'carrots', 'cod', 'sprouts', 'orange', 'lime']

6) Remove the carrots, the first element and last element of the shoppingList list

In [10]:
shoppingList.pop(0)

'potatoes'

In [ ]:
shoppingList.pop(-1)

'sprouts'

In [ ]:
shoppingList.remove('carrots')

In [ ]:
shoppingList

['cod']

6) How many fruits are there in the shopping list

In [ ]:
len(shoppingList)

5

In [ ]:
shoppingList= ['potatoes','carrots','cod','sprouts']
shoppingList

['potatoes', 'carrots', 'cod', 'sprouts']

7) Obtain the first 3 elements of the list

In [ ]:
print(shoppingList[:3])

['potatoes', 'carrots', 'cod']

8) Add the fruit "Ananas" in the 3rd position

In [ ]:
shoppingList[2] = "Ananas"
shoppingList

['potatoes', 'carrots', 'Ananas', 'sprouts']

9) Reverse the list

In [ ]:
shoppingList.reverse()
shoppingList

['sprouts', 'Ananas', 'carrots', 'potatoes']

10) Sort the list

In [ ]:
shoppingList.sort()
shoppingList

['Ananas', 'carrots', 'potatoes', 'sprouts']

11) What is the result of

In [ ]:
shopping = shoppingList
shoppingListCopy = shoppingList[:]
print(shopping)

['Ananas', 'carrots', 'potatoes', 'sprouts']

As we copied shopping list to a new list , it printed exactly the same list.

12) What is the result of

In [ ]:
shopping = shoppingList
shoppingList.append("orange")
print(shopping)

['Ananas', 'carrots', 'potatoes', 'sprouts', 'orange']

Because when we add orange to the list, new value will be added at the at the end of the list and it is not sorted.

13) remove all the items from the shoppingList

In [ ]:
shoppingList.clear()

14) What is the result of

In [ ]:
newPurchases= ["bananas", "beans", "rice"]
print (newPurchases [1])
newPurchases [0] = "apple"

beans

In [ ]:
newPurchases

['apple', 'beans', 'rice']

15) Create a dictionary including the follwoing elements: orange,apple, pear, grape and peach.Key are 1 to 5. Iterate through key-value pair. The result must be "orange e number 1".

In [ ]:
thisdict =	{
    1:"orange",
    2:"apple",
    3:"pear",
    4:"grape",
    5:"peach"
}
print(thisdict)

{1: 'orange', 2: 'apple', 3: 'pear', 4: 'grape', 5: 'peach'}

In [ ]:
for key,value in thisdict.items():
  print(value +" is number "+ str(key))

orange is number 1
apple is number 2
pear is number 3
grape is number 4
peach is number 5

16) Create a weekList that is composed of several lists, each one corresponding to a day.

In [ ]:
day1 = ["monday"]
day2 = ["tuesday"]
day3 = ["wednesday"]
day4 = ["thursday"]
day5 = ["friday"]
day6= ["saturday"]
day7=["sunday"]
weeklist= day1+ day2+ day3+ day4+ day5 + day6 + day7
weeklist

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

 17) Create a list where x is belongs to a list of values from 1 to 100 and you want to generate a new list of y.

$y = 3x^2 +2x +4$

In [14]:
x = list(range(1,101))
y=[3*x**(2) +2*x+ 4 for x in x ]

In [ ]:
y

[9,
 20,
 37,
 60,
 89,
 124,
 165,
 212,
 265,
 324,
 389,
 460,
 537,
 620,
 709,
 804,
 905,
 1012,
 1125,
 1244,
 1369,
 1500,
 1637,
 1780,
 1929,
 2084,
 2245,
 2412,
 2585,
 2764,
 2949,
 3140,
 3337,
 3540,
 3749,
 3964,
 4185,
 4412,
 4645,
 4884,
 5129,
 5380,
 5637,
 5900,
 6169,
 6444,
 6725,
 7012,
 7305,
 7604,
 7909,
 8220,
 8537,
 8860,
 9189,
 9524,
 9865,
 10212,
 10565,
 10924,
 11289,
 11660,
 12037,
 12420,
 12809,
 13204,
 13605,
 14012,
 14425,
 14844,
 15269,
 15700,
 16137,
 16580,
 17029,
 17484,
 17945,
 18412,
 18885,
 19364,
 19849,
 20340,
 20837,
 21340,
 21849,
 22364,
 22885,
 23412,
 23945,
 24484,
 25029,
 25580,
 26137,
 26700,
 27269,
 27844,
 28425,
 29012,
 29605]