<a href="https://colab.research.google.com/github/reevutrprog/TRPROG/blob/master/lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list of 007 movies where Sean Connery features James Bond
moviesSeanConnery = ["Dr. No (1962)",
"From Russia with Love (1963)",
"Goldfinger (1964)",
"Thunderball (1965)",
"You Only Live Twice (1967)",
"Diamonds Are Forever (1971)",    
"Never Say Never Again (1983)"]  

#list of 007 movies where David Neven features James Bond
moviesDavidNeven=["Casino Royale (1967)"]    

#list of 007 movies where George Lazenby features James Bond
moviesGeorgeLazenby=["On Her Majesty's Secret Service (1969)"]  
          
#list of 007 movies where Roger Moore features James Bond   
moviesRogerMoore=[ "Live and Let Die (1973)",
"The Man with the Golden Gun (1974)",
"The Spy Who Loved Me (1977)",
"Moonraker (1979)",
"For Your Eyes Only (1981)",
"Octopussy (1983)",
"A View to a Kill (1985)"]

#list of 007 movies where Timothy Dalton features James Bond  
moviesTimothyDalton=[
"The Living Daylights (1987)",
"Licence to Kill (1989)"  
]

#list of 007 movies where Pierce Brosnan features James Bond  
moviesPierceBrosnan=[
"GoldenEye (1995)",
"Tomorrow Never Dies (1997)",
"The World Is Not Enough (1999)",
"Die Another Day (2002)"
]

#list of 007 movies where Daniel Craig features James Bond 
moviesDanielCraig=["Casino Royale (2006)",
"Quantum of Solace (2008)",
"Skyfall (2012)",
"Spectre (2015)"]

In [ ]:
#1) create a list of lists (movies007). The list will be composed by each list of movies featured by each actor.

movies007=[]
movies007.append(moviesSeanConnery)
movies007.append(moviesDavidNeven)
movies007.append(moviesGeorgeLazenby)
movies007.append(moviesRogerMoore)
movies007.append(moviesTimothyDalton)
movies007.append(moviesPierceBrosnan)
movies007.append(moviesDanielCraig)
movies007

[['Dr. No (1962)',
  'From Russia with Love (1963)',
  'Goldfinger (1964)',
  'Thunderball (1965)',
  'You Only Live Twice (1967)',
  'Diamonds Are Forever (1971)',
  'Never Say Never Again (1983)'],
 ['Casino Royale (1967)'],
 ["On Her Majesty's Secret Service (1969)"],
 ['Live and Let Die (1973)',
  'The Man with the Golden Gun (1974)',
  'The Spy Who Loved Me (1977)',
  'Moonraker (1979)',
  'For Your Eyes Only (1981)',
  'Octopussy (1983)',
  'A View to a Kill (1985)'],
 ['The Living Daylights (1987)', 'Licence to Kill (1989)'],
 ['GoldenEye (1995)',
  'Tomorrow Never Dies (1997)',
  'The World Is Not Enough (1999)',
  'Die Another Day (2002)'],
 ['Casino Royale (2006)',
  'Quantum of Solace (2008)',
  'Skyfall (2012)',
  'Spectre (2015)']]

In [ ]:
#2) How many movies were played by the first actor to play James Bond?

movies007[0]

['Dr. No (1962)',
 'From Russia with Love (1963)',
 'Goldfinger (1964)',
 'Thunderball (1965)',
 'You Only Live Twice (1967)',
 'Diamonds Are Forever (1971)',
 'Never Say Never Again (1983)']

In [ ]:
#How many movies were played by the last actor to play James Bond?

len(movies007[-1])

4

In [ ]:
#How many actors played the role of James Bond?

len(movies007)

7

In [ ]:
#Create a new list with the number of movies played by each actor

newmovielist = []

for i in range(len(movies007)):
  newmovielist.append(len(movies007[i]))

newmovielist

[7, 1, 1, 7, 2, 4, 4]

In [ ]:
#How many movies were played by the actor who appeared most often in movies?      
max(newmovielist)

7

In [ ]:
#How many movies were played by the actor who appeared in fewer movies?

min(newmovielist)

1

In [ ]:
#Create a new list (movies007a) with all the films.
movies007a = []
movies007a.extend(moviesSeanConnery)
movies007a.extend(moviesDavidNeven)
movies007a.extend(moviesGeorgeLazenby)
movies007a.extend(moviesRogerMoore)
movies007a.extend(moviesTimothyDalton)
movies007a.extend(moviesPierceBrosnan)
movies007a.extend(moviesDanielCraig)
movies007a

['Dr. No (1962)',
 'From Russia with Love (1963)',
 'Goldfinger (1964)',
 'Thunderball (1965)',
 'You Only Live Twice (1967)',
 'Diamonds Are Forever (1971)',
 'Never Say Never Again (1983)',
 'Casino Royale (1967)',
 "On Her Majesty's Secret Service (1969)",
 'Live and Let Die (1973)',
 'The Man with the Golden Gun (1974)',
 'The Spy Who Loved Me (1977)',
 'Moonraker (1979)',
 'For Your Eyes Only (1981)',
 'Octopussy (1983)',
 'A View to a Kill (1985)',
 'The Living Daylights (1987)',
 'Licence to Kill (1989)',
 'GoldenEye (1995)',
 'Tomorrow Never Dies (1997)',
 'The World Is Not Enough (1999)',
 'Die Another Day (2002)',
 'Casino Royale (2006)',
 'Quantum of Solace (2008)',
 'Skyfall (2012)',
 'Spectre (2015)']

In [ ]:
#Sort the elements of the list

movies007a.sort()
movies007a

['A View to a Kill (1985)',
 'Casino Royale (1967)',
 'Casino Royale (2006)',
 'Diamonds Are Forever (1971)',
 'Die Another Day (2002)',
 'Dr. No (1962)',
 'For Your Eyes Only (1981)',
 'From Russia with Love (1963)',
 'GoldenEye (1995)',
 'Goldfinger (1964)',
 'Licence to Kill (1989)',
 'Live and Let Die (1973)',
 'Moonraker (1979)',
 'Never Say Never Again (1983)',
 'Octopussy (1983)',
 "On Her Majesty's Secret Service (1969)",
 'Quantum of Solace (2008)',
 'Skyfall (2012)',
 'Spectre (2015)',
 'The Living Daylights (1987)',
 'The Man with the Golden Gun (1974)',
 'The Spy Who Loved Me (1977)',
 'The World Is Not Enough (1999)',
 'Thunderball (1965)',
 'Tomorrow Never Dies (1997)',
 'You Only Live Twice (1967)']

In [ ]:
#Reverse the order of the list. What will happen if this method is executed twice? Does this method sort the list if it is not sorted?

movies007a.reverse()
movies007a

['You Only Live Twice (1967)',
 'Tomorrow Never Dies (1997)',
 'Thunderball (1965)',
 'The World Is Not Enough (1999)',
 'The Spy Who Loved Me (1977)',
 'The Man with the Golden Gun (1974)',
 'The Living Daylights (1987)',
 'Spectre (2015)',
 'Skyfall (2012)',
 'Quantum of Solace (2008)',
 "On Her Majesty's Secret Service (1969)",
 'Octopussy (1983)',
 'Never Say Never Again (1983)',
 'Moonraker (1979)',
 'Live and Let Die (1973)',
 'Licence to Kill (1989)',
 'Goldfinger (1964)',
 'GoldenEye (1995)',
 'From Russia with Love (1963)',
 'For Your Eyes Only (1981)',
 'Dr. No (1962)',
 'Die Another Day (2002)',
 'Diamonds Are Forever (1971)',
 'Casino Royale (2006)',
 'Casino Royale (1967)',
 'A View to a Kill (1985)']

In [ ]:
#What is the index of the movie "Spectre (2015)" in the list of movies?
movies007a.index('Spectre (2015)')

7

In [ ]:
#Add the movie "007 and the bad Guy of the climate change (2020)" in the 11th position

movies007a.insert(10,"007 and the bad Guy of the climate change (2020)")

In [ ]:
#It was a mistake. Remove the movie "007 and the bad Guy of the climate change (2020)"
movies007a.remove("007 and the bad Guy of the climate change (2020)")