1) Verify if a value is an integer

In [1]:
a = 2
type(a)

int

2)Verify if a value is even

In [2]:
a = 10
a%2 == 0

True

3) Insert two numbers. Is the first is bigger than the second?

In [3]:
a = 3
b = 4

In [4]:
a>b

False

4) Verify if one value is multiple of another

In [5]:
a = 3
b = 8

In [6]:
a%b == 0 or b%a == 0

False

5) Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with an
interest rate of 3%.
(I= P*R*T)

In [10]:
P = 200
R = float(3/100)
T = 3

In [11]:
Interest = P*R*T

In [12]:
Interest

18.0

6) Capital that an investor obtained after investing an amount of capital of 200 during three years with an interest
rate of 3%. (Compound interest)

In [13]:
#AV(Accumulated value) = P*(1+r)^T

In [14]:
AV = P*(1+ R)**T

In [15]:
AV

218.5454

7) Calculate your BMI (Body Mass Index)

BMI = mass(kg)/Height^2(m)

In [16]:
mass = 80
height = 1.78
bmi = mass/(height)**2

In [17]:
bmi

25.24933720489837

8) Calculate the Golden ration:

In [18]:
gr = (1+5**0.5)/2 #without using libraries

In [19]:
gr

1.618033988749895

In [20]:
import math # with libraries
gr = (1+math.sqrt(5))/2

In [21]:
gr

1.618033988749895

9) Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.

In [26]:
cashflow = [2000,3000,4000,4000,5000]
r = 0.1

In [27]:
def npv(cashflow,r):
    f = 0
    i = 0
    pv = cashflow[f]/((1+r)** i)
    
    while i < len(cashflow):
        f +=1
        i +=1
        return pv
    
print(npv(cashflow,r))

2000.0

10) Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'
1. Solve the problem without using modules and libraries
2. Solve the problem using the date library from module datetime, as follow:

In [28]:
name = input("Please input your name ")
age = int(input("Please enter your age "))
birth_year = 2020 - age
print("this person was born in", birth_year)

Please input your nameReevu
Please enter your age29
this person was born in 1991

In [29]:
from datetime import date
today = date.today()

name = input("Please input your name ")
age = int(input("Please enter your age "))
birth_year = today.year - age
print("this person was born in", birth_year)

Please input your name Reevu
Please enter your age 29
this person was born in 1991

11) Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.

In [30]:
#Create the following variables:
#nameBig - all the characters of the name are capitalized
#nameTitle - only the first character of each name (word) is capitalized
#nameSmall - all the characters of the name are lowercase.
#nameCapitalized - only the first character of the first name is capitalized

In [32]:
forename = input("Please enter your first name ")
surname = input("please enter your last name ")
print(forename+' '+surname)

Please enter your first name reevu
please enter your last name adhikary
reevu adhikary

In [37]:
name =(forename +' '+surname)

In [38]:
nameBig = name.upper()
print(nameBig)

REEVU ADHIKARY

In [43]:
nameTitle = name.title()
print(nameTitle)

Reevu Adhikary

In [41]:
nameSmall = forename.lower()+' '+surname.lower()
print(nameSmall)

reevu adhikary

In [46]:
nameCapitalized = forename.capitalize()+' '+surname.lower()
print(nameCapitalized)

Reevu adhikary

12) Use the following method to show in which character appears the first "da"

In [47]:
#str.find(sub,start,end)
#What happens if the content of sub is not found in str?

In [48]:
quote = "Notre dame is a getting a makeover"
pos = quote.find("da",2,12)
print(pos)

6

In [49]:
quote = "Notre dme is a getting a makeover"
pos = quote.find("da",2,12)
print(pos)

-1