<a href="https://colab.research.google.com/github/reevutrprog/TRPROG/blob/master/lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to verify if a number is a possible credit card number?In order to verify the check digit is correct, verify the following steps:


*   Supose the following number="5105105105105100".
*   Convert the number into a list
*   Reverse the List
*   Starting from the left digit, double every second digit.
*   If double of a digit is more than 9, add the digits.
*   Sum all the numbers except the first one multiply by 9 and remove the unit

In [ ]:
#Start by converting the number into a list
credit_card_number="5105105105105100"

In [ ]:
#convert a number into a list
numberList=[char for char in credit_card_number]
numberList

['5',
 '1',
 '0',
 '5',
 '1',
 '0',
 '5',
 '1',
 '0',
 '5',
 '1',
 '0',
 '5',
 '1',
 '0',
 '0']

In [ ]:
#Convert stings into integers
numberList=[int (x) for x in numberList]
numberList

[5, 1, 0, 5, 1, 0, 5, 1, 0, 5, 1, 0, 5, 1, 0, 0]

In [ ]:
numberList.reverse()
numberList

[5, 1, 0, 5, 1, 0, 5, 1, 0, 5, 1, 0, 5, 1, 0, 0]

In [ ]:
# Starting from the left digit, double every second digit.
numberList2 =[]
for i in range(len(numberList)):
    if (i%2==0):
        numberList2.append(numberList[i])
    else:
        numberList2.append(numberList[i]*2)

numberList2

[5, 2, 0, 10, 1, 0, 5, 2, 0, 10, 1, 0, 5, 2, 0, 0]

In [ ]:
# If double of a digit is more then 9, add the digits.
numberList3=[]
for value in numberList2:
    if value>9:
        numberList3.append(1+value-10)
    else:
        numberList3.append(value)

In [ ]:
numberList3

[5, 2, 0, 1, 1, 0, 5, 2, 0, 1, 1, 0, 5, 2, 0, 0]

In [ ]:
# Sum all the numbers except the first one
total=sum(numberList3)-numberList3[0]
total

20

In [ ]:
# multiply by 9 and remove the unit
total*9%10

0